attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
future==0.17.1
idna==2.8
pyserial==3.4
git+https://github.com/altendky/pysunspec@f197baa9c373ff93b13bff22a1ca0368aa89b305#egg=pysunspec
requests==2.21.0
urllib3==1.24.1

-e .
